body{
    background-color: #fcfcfc;
    font-size: 1.5rem !important;
}
.content-wrapper{
    margin-left: 25%;
    margin-right: 15px;
}
.header{
    height: 200px;
    margin-left: 0px !important;
    background: url('/static/images/b.png');
    background-position: right;
	background-repeat: no-repeat;
	background-size: auto;
}
.user{
    margin-top: 20px;
}
.user img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: inherit !important;
    margin-bottom: 20px !important;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.small-box{
    border-radius:2px;
    position:relative;
    display:block;
    margin-bottom:20px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)
}
.small-box>.inner{
    padding:10px
}
.small-box>.small-box-footer{
    position:relative;
    text-align:center;
    padding:3px 0;
    color:#fff;
    color:rgba(255,255,255,0.8);
    display:block;z-index:10;
    background:rgba(0,0,0,0.1);
    text-decoration:none
}
.small-box>.small-box-footer:hover{
    color:#fff;
    background:rgba(0,0,0,0.15)
}
.small-box h3{
    font-size:28px;
    font-weight:bold;
    margin:0 0 10px 0;
    white-space:nowrap;
    padding:0
}
.small-box p{
    font-size:15px
}
.small-box p>small{
    display:block;
    color:#f9f9f9;
    font-size:13px;
    margin-top:5px
}
.small-box h3,.small-box p{
    z-index:5
}
.small-box .icon{
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    position:absolute;
    top:-10px;
    right:10px;
    z-index:0;
    font-size:90px;
    color:rgba(0,0,0,0.15)
}
.small-box:hover{
    text-decoration:none;
    color:#f9f9f9
}
.small-box:hover .icon{
    font-size:95px
}
@media (max-width:767px){
    .small-box{
        text-align:center
    }
    .small-box .icon{
        display:none
    }
    .small-box p{
        font-size:12px
    }
}