{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "sidebar.html" %}
    <div class="content-wrapper">
        <!-- Main content -->
        <main>
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/images/download.jpeg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-6">
                    <article>
                        {% for i in item %}
                        <h2>{{i.name}}</h2>
                        <p>{{i.description}}</p>
                        {%if 'username' in login%}
                            <a href="/catalog/{{i.name}}/edit">Edit</a> | 
                            <a href="/catalog/{{i.name}}/delete">Delete</a>
                        {% endif %}
                        {% endfor%}
                    </article>
                </div>
            </div>
        </main>
    </div>
{% endblock %}